body {
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: stretch;
	flex-direction: column;
	font-family: -apple-system, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
	font-family: monospace;
	font-size: 5vh;
	position: relative;
}

.mainwrap {
	min-width:100%;
	min-height:100%;
	margin:0;
	background-color:rgba(1,1,1,0.0);
	display: flex;
	justify-content: center;
	align-items:center;
}

.selection {
	max-width: 80vw;
 	max-height: 80vw;
 	display: flex;
 	flex-wrap: wrap;
	position: absolute;
	width: stretch-to-content;
	justify-content: center;
  	align-items: center;
  	text-align: center;
}

.selection-button {
	margin-right: 2px;
	height: 40px;
	background: white;
  	border: 2px solid;
  	line-height: 1;
  	font-weight: 700;
  	font-size: 25%;
  	display: flex;
  	background-color: white;
}

.selection-button:last-of-type {
	margin-right: 0;
}


.selection-button:hover,
.selection-button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: scale(1.05);
}

#selection-pgnm {
	position: absolute;
	align-self: center;
	margin-top: 40vh;
	color: white;
	font-size: 20pt;
}
#selection-prevpg,
#selection-nextpg {
	height: 40px;
	background: white;
  	border: 2px solid;
  	line-height: 1;
  	font-weight: 700;
  	background-color: white;
	position: absolute;
	align-self: center;
	margin-top: 40vh;
}

#selection-prevpg { margin-left: -2vw;}
#selection-nextpg { margin-left: 2vw;}

#selection-prevpg:hover,
#selection-nextpg:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: scale(1.05);
}

.ticker {
	width: 25vh;
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.ticker-input {
	height: 5vh;
	width: 15vh;
	font-size: 20pt;
	color: white;
	text-align: center;
	text-overflow: ellipsis;
	background-color: rgb(22,22,29);
	border-color: white;
	border-width: 1px;
	border-bottom: 1px;
}

.ticker-input::-webkit-inner-spin-button, 
.ticker-input::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.ticker-edit {
	height: 5vh;
	width: 5vh;
	font-size: 22pt;
	color: white;
	background-color: rgb(22,22,29);
	border-color: white;
	border-width: 1px;
	border-bottom: 1px;
}

.ticker-submit {
	height: 2.5vh;
	width: 15vh;
	font-size: 16pt;
	color: white;
	background-color: rgb(22,22,29);
	border-color: white;
	border-width: 1px;
	border-bottom: 1px;
}

.prompt {
	position: absolute;
	margin-top: 40vh;
	font-size:20pt;
	color:white;
}

.ped-info {
	position: absolute;
	color: white;
}

.hover-wrap {
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
	pointer-events: none;
}

.hover-blip {
	position: absolute;
	height: 3vh;
	width: 3vh;
	border-radius: 50%;
	border-width: 1px;
	border-color: black;
	background-color: white;
}

.nui-watermark {
	position: absolute;
	font-size: 40pt;
	color:white;
	align-self: flex-end;
}



/*
.inputArea {
	display:none;
}
.Functions {
	display:none;
}
.Spawning {
	display:none;
}



.NCNwrap {

	background-repeat:no-repeat;
	background-size:100% 100%;
	width: 200px;
	height: 610px;
	border-radius: 10px;
	margin-left: 5%;
	margin-top: 5%;
	opacity: 1;
	overflow: hidden;
	display: none;
	z-index: 9999999;
	padding-top:4%;
	padding-left:5px;
}

input {
	margin-left:25%;
	height:15%;
	width:50%;
	font-size:22px;
	text-align:center;
	border: 1px solid rgba(200,200,200,0.4);
	background-color:rgba(20,10,20,0.8);
	color:rgba(220,220,220,1.0);
	margin-top:5px;
}

.button {
	flex-grow: 1;
	align-items: center;
	text-align: center;

	margin-top:5px;
	padding-top:5px;
	font-weight: 0;

	width: 99%;
	height: 22px;
	background: brown;
	opacity: 1;

	font-size: 12px;


	font-weight:0;
	text-decoration: none;

	border:1px solid rgba(220,220,220,0.7);
	background-color:rgba(20,10,20,0.9);
	color:rgba(220,220,220,1.0);

	display:block;
	float:none;
	font-family:verdana;
	-webkit-transition: all 0.2% ease;
	-moz-transition: all 0.2% ease;
	-ms-transition: all 0.2% ease;
	transition: all 0.2% ease;
	overflow:hidden;
}
*/
